@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*
FONTS:
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;

*/

:root {
  --color-icon-opposite-light: #148ab3;
  --color-icon-light: #1f1e1e;
  --color-white-light: #ffff;
  --color-black-light: #000;
  --color-header-light: #148ab3;
  --color-header-shadow-light: #add8e6;
  --color-icon-opposite-dark: #1f1e1e;
  --color-icon-dark: #148ab3;
  --color-white-dark: #eeeded;
  --color-black-dark: #000;
  --color-header-dark: #1f1e1e;
  --color-header-shadow-dark: #4b4a4a;
}

/* Main css */

.main {
  display: grid;
  padding-left: 2rem;
  grid-template-columns: 55% 40%; /* This handles the list and map width! */
}

/* Media Queries */

@media screen and (max-width: 500px) {
  .time {
    display: none;
  }

  .date {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header-background {
    height: 145%;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .main {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-icon-opposite: var(--color-icon-opposite-dark);
    --color-icon: var(--color-icon-dark);
    --color-white: var(--color-white-dark);
    --color-black: var(--color-black-dark);
    --color-header: var(--color-header-dark);
    --color-header-shadow: var(--color-header-shadow-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-icon-opposite: var(--color-icon-opposite-light);
    --color-icon: var(--color-icon-light);
    --color-white: var(--color-white-light);
    --color-black: var(--color-black-light);
    --color-header: var(--color-header-light);
    --color-header-shadow: var(--color-header-shadow-light);
  }
}

[color-scheme="light"] {
  --color-icon-opposite: var(--color-icon-opposite-light);
  --color-icon: var(--color-icon-light);
  --color-white: var(--color-white-light);
  --color-black: var(--color-black-light);
  --color-header: var(--color-header-light);
  --color-header-shadow: var(--color-header-shadow-light);
}

[color-scheme="dark"] {
  --color-icon-opposite: var(--color-icon-opposite-dark);
  --color-icon: var(--color-icon-dark);
  --color-white: var(--color-white-dark);
  --color-black: var(--color-black-dark);
  --color-header: var(--color-header-dark);
  --color-header-shadow: var(--color-header-shadow-dark);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

/* Header css */

.top {
  font-family: Merriweather, sans-serif;
  font-weight: lighter;
  position: relative;
  background-color: var(--color-header);
  padding: 1rem;
  color: var(--color-white);
  padding-bottom: 2.5rem;
  box-shadow: 0 10px var(--color-header-shadow);
  margin-bottom: 0.2rem;
}

.header-background {
  position: absolute;
  top: -45%;
  left: -2rem;
  height: auto;
  width: 40rem;
  pointer-events: none;
}

.header-line {
  position: absolute;
  top: 0;
  left: 21rem;
  width: 1px;
  height: 100%;
  background-color: var(--color-header-shadow);
  bottom: 100%;
}

.top-row {
  display: flex;
}

.mode {
  display: grid;
  content: "";
  position: absolute;
  left: 23rem;
  top: 0;
  background-color: var(--color-icon-opposite);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--color-header-shadow);
  place-items: center;
  opacity: 0.7;
}

.mode:is(:hover, :focus) {
  background-color: var(--color-icon);
  cursor: pointer;
  opacity: 0.8;
}

.bottom-row {
  display: flex;
}

.title {
  float: left;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  margin-left: 0.33em;
  text-shadow: 1px 1px var(--color-black);
}

.time {
  position: absolute;
  right: 0.33em;
  font-size: 2.5rem;
  float: right;
  margin: 0.33em;
  text-shadow: 1px 1px var(--color-black);
}

.subtitle {
  float: left;
  margin: 0.33em;
  text-shadow: 1px 1px var(--color-black);
}

.date {
  float: right;
  position: absolute;
  right: 0.33em;
  margin: 0.33em;
  text-shadow: 1px 1px var(--color-black);
}

/* Map CSS */

.map {
  position: relative;
  padding: 2rem 0 0 5rem;
}

.floor-label {
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
}

.floor-number {
  font-family: Merriweather, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  display: inline-block;
  width: 5.2rem;
}

.map-floor {
  font-family: Merriweather, sans-serif;
  font-size: 1.5rem;
  padding-right: 0.5em;
}

.available-rooms-green {
  font-family: Merriweather, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #22c098;
  margin-left: 2rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.available-rooms-red {
  font-family: Merriweather, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #d26360;
  margin-left: 2rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
