@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
FONTS:
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;

#foo {
    color: var(--main-color);
}

*/

:root {
  --color-white:#FFFFFF;
  --color-yellow:#FFD700;
  --color-black:#0B0500;
  --color-blue:#148ab3;
  --color-grey:#BDBDBC;
  --status-color: #ff8c00;
}


body {
margin: 0;
padding: 0;
}


#App {
  text-align: center;
}

/* Header css*/

#top {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  position: relative;
  background-color: black;
  color: var(--color-yellow);
  padding: 0.33em;
}

#top-row {
  display: flex;
}


#bottom-row {
  display: flex;
}

#title {
  float: left;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  margin-left: 0.33em;
}

#time {
  position: absolute;
  right: 0.33em;
  float:right;
  margin: 0.33em;
}

#subtitle {
  float:left;
  margin: 0.33em;
}

#date {
  float:right;
  position: absolute;
  right: 0.33em;
  margin: 0.33em;
}


/* Main css*/

#main {
  display: grid;
  padding-left: 2rem;
  grid-template-columns: 60% 40%;
}

#label {
  display:inline;
  padding: 0 1rem;
}

#map {
  padding-left: 5rem; 
}

/* Table css */

.MuiTableCell-root {
  width: 20%;
}

.MuiTableCell-head {
  padding: 0.5rem 0.4rem  0.25rem !important;
}

.MuiTableCell-body {
  text-align: center !important;
  padding: 0.2rem 0.25rem !important;
}

/* Content css */

#data {
  display: flex;
  margin-left: 1rem;
  width: 55%;
  padding-left: 4rem;
  background-color: var(--color-grey);
  border-radius: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

#room {
  position: absolute;
  left: 2.5rem;
}

#floor {
  position: absolute;
  left: 21%;
}

#temperature {
  position: absolute;
  left: 45%;
}

#co2 {
  position: absolute;
  left: 64%;
}

#status {
  float: right;
  display: flex;
  float: inline-end;
  margin-left: 81%;
}

#data h2 {
  padding: 0 1rem;
}

#statusColor {
  color:#ff8c00;
}

#inUse {
  color: red;
}

#available {
  color: green;
}

#redCircle {
  content: '';
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 3rem;
  background-color: red;
}

#greenCircle {
  content: '';
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 3rem;
  background-color: green;
}