@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*
FONTS:
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;

*/

:root {
  --color-white: #ffff;
  --color-yellow: #ffd700;
  --color-black: orange;
  --color-blue: #148ab3;
  --color-grey: #e4e4e2;
  --status-color: #ff8c00;
}

body {
  margin: 0;
  padding: 0;
}

/* Header css */

.top {
  font-family: "Merriweather", sans-serif;
  font-weight: lighter;
  position: relative;
  background-color: var(--color-blue);
  padding: 1rem;
  color: var(--color-white);
  padding-bottom: 2rem;
}

.header-background {
  position: absolute;
  top: -45%;
  left: -2rem;
  height: 145%;
  width: auto;
  pointer-events: none;
}

.header-line {
  position: absolute;
  top: 0;
  left: 21rem;
  width: 1px;
  height: 100%;
  background-color: var(--color-white);
  bottom: 100%;
}

.light {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px black;
}
.light:hover {
  border: 1px;
  text-shadow: 1px 1px black;
}

.dark {
  font-weight: lighter;
  cursor: pointer;
}

.dark:hover {
  border: 1px;
  text-shadow: 1px 1px black;
}

.top-row {
  display: flex;
}

.mode {
  font-size: 1.3rem;
  z-index: 1;
  padding-left: 6rem;
}

.bottom-row {
  display: flex;
}

.title {
  float: left;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  margin-left: 0.33em;
  text-shadow: 1px 1px black;
}

.time {
  position: absolute;
  right: 0.33em;
  font-size: 2.5rem;
  float: right;
  margin: 0.33em;
  text-shadow: 1px 1px black;
}

.subtitle {
  float: left;
  margin: 0.33em;
  text-shadow: 1px 1px black;
}

.date {
  float: right;
  position: absolute;
  right: 0.33em;
  margin: 0.33em;
  text-shadow: 1px 1px black;
}

/* Main css */

.main {
  display: grid;
  padding-left: 2rem;
  grid-template-columns: 50% 50%; /* This handles the list and map width! */
}
@media screen and (max-width: 960px) {
  .main {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: 100%;
  }
}

/* Map CSS */

.map {
  position: relative;
  padding: 2rem 0 0 5rem;
}

.floorLabel {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
}

.floorMap {
  padding: 1rem;
  margin-right: 1rem;
  width: 12rem;
  height: 5rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: -0.4rem;
  color: var(--color-white);
  border: 2px solid var(--color-black);
}

.floorNumber {
  font-family: "Merriweather", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  display: inline-block;
  width: 6rem;
}

.mapFloor {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
}

.availableRoomsGreen {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #22c098;
  margin-left: 6rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.availableRoomsRed {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #d26360;
  margin-left: 6rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
